#set($nav='user.set')

#set($title='添加hive表')
<html>
<head>
  	<!-- The styles -->
	<link id="bs-css"  href="${rc.contextPath}/assets/css/bootstrap-cerulean.css" rel="stylesheet">
	<script src="${rc.contextPath}/assets/js/jquery-1.7.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="${rc.contextPath}/assets/css/stylehwi.css"/>
	<link href="${rc.contextPath}/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="${rc.contextPath}/assets/css/charisma-app.css" rel="stylesheet">
	<link href="${rc.contextPath}/assets/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<script src="${rc.contextPath}/assets/js/jquery.min.js" type="text/javascript" ></script>
    <script type="text/javascript" src="${rc.contextPath}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/assets/js/less-1.3.0.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/assets/js/highlight.pack.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/assets/js/custom.js"></script>
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<link rel="shortcut icon" href="${rc.contextPath}/assets/img/favicon.ico">
</head>

<script>

  var  fieldcount = 100;

 //  移除元素内部内容
  function   removeHtml(id) {
  	$("#"+id+"").remove();
  }
 // 显示删除按钮
  function    viewButton(divId)  {
	  $("#"+divId+"").css("display","block");
  }
  
  // 隐藏删除按钮
  function   hiddenButton(divId) {
	  $("#"+divId+"").css("display","none");
  }
  // 增加一组分区
  function addPartition() {
    
  
  }


 // 获取字段类型select
 function getFieldType(sid,count,msg){
    var html='字段类型：<select id="fieldtype" name="fieldtype"  placeholder='+msg+' class="input-xlarge" type="text" style="width:100px;height:26px;">';
    html+='<option value="tinyint">tinyint</option>';
    html+='<option value="smallint">smallint</option>';
    html+='<option value="int">int</option>';
    html+='<option value="bigint">bigint</option>';
    html+='<option value="float">float</option>';
    html+='<option value="double">double</option>';
    html+='<option value="timestamp">timestamp</option>';
    html+='<option value="date">date</option>';
    html+='<option value="boolean">boolean</option>';
    html+='<option value="string" selected="true">string</option>';
    html+='<option value="binary">binary</option>';
    html+='<option value="array">array</option>';
    html+='<option value="struct">struct</option>';
    html+='<option value="union">union</option>';
    html+='</select>';
   return html;
 }
 
 // 增加一组字段
  function  addField(){
     var  fielddivid = "fielddiv"+fieldcount;
     var html='<div class="controls"  id="fielddiv'+fieldcount+'">';
     html+='<input id="field" name="field" placeholder="请输入字段名" class="input-xlarge" type="text" style="width:100px;height:26px;">';
     html+=getFieldType("fieldtype",fieldcount,"请选择字段类型");
     html+='是否为分区：<select id="ispartition" name="ispartition" placeholder="请选择是否为分区字段" class="input-xlarge" type="text" style="width:100px;height:26px;">';
     html+='<option value="Y">Y</option>';
     html+='<option value="N" selected="true">N</option>';
     html+='<input id="fieldcomment" name="fieldcomment" placeholder="备注" class="input-xlarge" type="text" style="width:100px;height:26px;">';
     html+='<button class="btn btn-small btn-primary" type="button"  onclick=subField("'+fielddivid+'")><i class="icon-minus"></i></button>';
     html+='</div>';
    $("#tablefield").append(html);
    fieldcount ++;
  }

 // 减去一组字段
 function  subField() {
   if(fieldcount==1) {
      return;
   }
   fieldcount --;
   var id="fielddiv"+fieldcount;
   removeHtml(id);
 }
 
 //  提交表单时
  function   submitForm() {
	  
	  var  tableName = $("#tableName").val();
	  var  comment = $("#comment").val();
	  var  ret = true;
	  if (tableName=='' || comment=='') {
		  alert("请输入表名或者表的备注,不能为空");
		  ret = false;
		  return ret;
	  }
     // 字段名
     var fields = $("input[name=field]");
	  for(var i = 0; i < fields.length; i ++){
		  var fvalue = fields[i].value;
		  if (fvalue == "") {
		      alert("字段名不能为空");
		      ret = false;
			  return ret;
		  }
	  }
    
	  // 字段的备注
	  var fields = $("input[name=fieldcomment]");
	  for(var i = 0; i < fields.length; i ++){
		  var fvalue = fields[i].value;
		  if (fvalue == "") {
		      alert("字段备注不能为空");
		      ret = false;
			  return ret;
		  }
	  }
	  return ret;
  }
 
  // 提交表单
  function  submitFormEnd() {
      var ret=submitForm();
      if(ret == false) {
        return ;
      }
      $("#addhiveform").submit();
    
  }
 

</script>



<body>
            #if($msg)
            <div class="alert alert-#alt($msg-type 'error')">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                $msg
            </div>
            #end
<h2  style="font-size:16px;">$title</h2>
<hr class="bold" style="margin:0px 0px;">
<div style="float:left;">
<form id="addhiveform" action="${rc.contextPath}/hivetable/addhivetable" method="post" class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="tableName">表名：</label>
        <div class="controls">
            <input id="tableName" type="text" name="tableName"  placeholder="请输入表名"  style="width:300px;height:26px;"/>
        </div>
    </div>
    <div class="control-group" id="tablecomment">
       <label class="control-label" for="comment">备注：</label>
       <div class="controls">
           <input id="comment" name="comment" placeholder="请输入备注" class="input-xlarge" type="text" style="width:300px;height:26px;">
       </div>
   </div>
    <div class="control-group" id="tablefield">
       <label class="control-label" for="field">字段：</label>
       <div class="controls"  id="fielddiv">
           <input id="field" name="field" placeholder="请输入字段名" class="input-xlarge" type="text" style="width:100px;height:26px;">字段类型：<select id="fieldtype" name="fieldtype" placeholder="请输入字段类型" class="input-xlarge" type="text" style="width:100px;height:26px;">
           <option value="tinyint">tinyint</option>
           <option value="smallint">smallint</option>
           <option value="int">int</option>
           <option value="bigint">bigint</option>
           <option value="float">float</option>
           <option value="double">double</option>
           <option value="timestamp">timestamp</option>
           <option value="date">date</option>
           <option value="boolean">boolean</option>
           <option selected="true" value="string">string</option>
           <option value="binary">binary</option>
           <option value="array">array</option>
           <option value="struct">struct</option>
           <option value="union">union</option>
           <option value="union">map</option>
           </select>是否为分区：<select id="ispartition" name="ispartition" placeholder="请选择是否为分区字段" class="input-xlarge" type="text" style="width:100px;height:26px;">
            <option value="Y">Y</option>
            <option value="N" selected="true">N</option>
           </select><input id="fieldcomment" name="fieldcomment" placeholder="备注" class="input-xlarge" type="text" style="width:100px;height:26px;"/>
       </div>     
   </div>
   <div class="control-group" id="tablefieldadd">
       <div class="controls">
       <button class="btn btn-small btn-primary" type="button" onclick="addField()"><i class=" icon-plus"></i></button>
       </div>
   </div>
   <div class="form-actions">
        <button  type="button"  onclick="submitFormEnd()" class="btn btn-primary" style="font-size: 18px;line-height: 25px;width:100px;">提交</button>
    </div>
</form>
</div>
</body>
<script type="text/javascript">
	$(function (){
		if(window.parent)
		window.parent.clearLoading();
	});
</script>
</html>

