<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
    
    <typeAliases>
        <!--表对应的实体类-->
		<typeAlias alias="userEntity" type="com.zhangyue.zeus.entity.UserEntity" />
		<typeAlias alias="hiveTableEntity" type="com.zhangyue.zeus.entity.HiveTableEntity" />
		<typeAlias alias="queriesEntity" type="com.zhangyue.zeus.entity.QueriesEntity" />
		<typeAlias alias="tableFieldEntity" type="com.zhangyue.zeus.entity.TableFieldEntity" />
		<typeAlias alias="userTableEntity" type="com.zhangyue.zeus.entity.UserTableEntity" />
	</typeAliases>
    
    <mappers>
    	<mapper resource="sqlmapper/UserMapper.xml"/>
    	<mapper resource="sqlmapper/HiveTableMapper.xml"/>
    	<mapper resource="sqlmapper/QueriesMapper.xml"/>
    </mappers>
</configuration>